<div class="panel panel-default panel-chart">
  <div class="panel-heading">
    <i class="fa <%= icon %>"></i> <%= name %> / <%= unit %>
  </div>
  <div>
  	<div class="panel-body">
  	  <chart name="<%= name %>" unit="<%= unit %>" table="<%= table %>" field="<%= field %>" offset="<%= offset %>" range="<%= range %>"></chart>
  	</div>
  </div>
</div>